@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #75aa9d;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.blink {
  animation: blink 1s infinite; /* 1秒間隔で無限に点滅 */
}